In [10]:
import pandas as p

In [11]:
cab_data = p.read_pickle('C:\\Users\\cemre\\Documents\\repos\\G2M_Insight_for_Cab_Investment_Firm_Project\\Datasets\\Cab_changed.pkl')
city_data = p.read_pickle('C:\\Users\\cemre\\Documents\\repos\\G2M_Insight_for_Cab_Investment_Firm_Project\\Datasets\\City_ID_changed.pkl')
customer_data = p.read_pickle('C:\\Users\\cemre\\Documents\\repos\\G2M_Insight_for_Cab_Investment_Firm_Project\\Datasets\\Customer_ID_changed.pkl')
transaction_data = p.read_pickle('C:\\Users\\cemre\\Documents\\repos\\G2M_Insight_for_Cab_Investment_Firm_Project\\Datasets\\Transaction_ID_changed.pkl')

In [12]:
cab_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 359392 entries, 0 to 359391
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Transaction_ID  359392 non-null  int64
 1   Date_of_Travel  359392 non-null  int64
 2   Company         359392 non-null  object
 3   City            359392 non-null  object
 4   KM_Travelled    359392 non-null  float64
 5   Price_Charged   359392 non-null  float64
 6   Cost_of_Trip    359392 non-null  float64
dtypes: float64(3), int64(2), object(2)
memory usage: 19.2+ MB

In [13]:
city_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        20 non-null     object
 1   Population  20 non-null     object
 2   Users       20 non-null     object
dtypes: object(3)
memory usage: 608.0+ bytes

In [14]:
customer_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49171 entries, 0 to 49170
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Customer_ID         49171 non-null  int64
 1   Gender              49171 non-null  object
 2   Age                 49171 non-null  int64
 3   Income (USD/Month)  49171 non-null  int64
dtypes: int64(3), object(1)
memory usage: 1.5+ MB

In [15]:
transaction_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440098 entries, 0 to 440097
Data columns (total 3 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Transaction_ID  440098 non-null  int64
 1   Customer_ID     440098 non-null  int64
 2   Payment_Mode    440098 non-null  object
dtypes: int64(2), object(1)
memory usage: 10.1+ MB